@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;600&display=swap');
$option-amount: 4;

* {
    -ms-overflow-style: none;
    user-select: none;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

html::-webkit-scrollbar {
    display: none;
}

html, body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    -ms-overflow-style: none;
    scrollbar-width: none;
    background-color: #FAFAFA;
}

.container {
    opacity: 0;
    width: 100vw;
    height: 100vh;
    background-color: #FAFAFA;
    transition: opacity .3s ease-in-out;
    // background-image: linear-gradient(to right top, #b7f6ff, #abfcf4, #afffdf, #c3ffc4, #e4ffa8);
    background-image: linear-gradient(to left bottom, #d16ba5, #cf6fb1, #cb73be, #c678cb, #be7ed7, #b388e2, #a692ec, #999bf4, #8ba9f8, #83b5f9, #82c0f6, #89c9f2);
}

.input-overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    transition: top 1s ease-out .3s;
    height: 100vh;
}

.header {
    height: 100px;
    width: 100vw;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #FAFAFA;

    &>h1 {
        font-size: #{"min(9vw, 40px)"};
        color: transparent;
        background-image: linear-gradient(to left bottom, #d16ba5, #cf6fb1, #cb73be, #c678cb, #be7ed7, #b388e2, #a692ec, #999bf4, #8ba9f8, #83b5f9, #82c0f6, #89c9f2);
        -webkit-background-clip: text;
        background-clip: text;
        font-family: 'Barlow Condensed', sans-serif;
    }
}

.divider {
    width: 100vw;
    height: 5px;
    background: linear-gradient(to left bottom, #d16ba5, #cf6fb1, #cb73be, #c678cb, #be7ed7, #b388e2, #a692ec, #999bf4, #8ba9f8, #83b5f9, #82c0f6, #89c9f2);
    background-size: 100% 300%;
    background-position: center;
}

.input-container {
    background-color: #FAFAFA;
    z-index: 2;
    height: calc(100% - 100px);
    font-size: #{"min(7vw, 25px)"};
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tweet-input {
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: calc(25vh + 50px);
    height: 50px;
    width: 90vw;
    max-width: 500px;
    padding: 10px 20px;
    font-size: #{"min(6vw, 20px)"};
    font-family: 'Barlow Condensed', sans-serif;
    outline: none;
    border: 1px solid #AC90E3;
    border-radius: 30px;
    margin-bottom: 50px;

    &::placeholder {
        opacity: .4;
    }
}

.load {
    letter-spacing: 3px;
    font-family: 'Roboto Mono', monospace;
    width: 160px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 20px;
    height: 55px;
    text-align:center;
    border: none;
    background-size: 300% 100%;
    border-radius: 50px;
    transition: all .35s ease-in-out;
    position: relative;
    // box-shadow: 0 4px 15px 0 rgba(23, 168, 108, 0.75);
    box-shadow: 0 4px 15px 0 rgba(138, 168, 243, 0.75);
    background-image: linear-gradient(to left bottom, #d16ba5, #cf6fb1, #cb73be, #c678cb, #be7ed7, #b388e2, #a692ec, #999bf4, #8ba9f8, #83b5f9, #82c0f6, #89c9f2);

    // background-image: linear-gradient(
    //     to right,
    //     #0ba360,
    //     #3cba92,
    //     #30dd8a,
    //     #2bb673
    // );

    &:hover {
        box-shadow: 0 4px 15px 0 rgba(173, 142, 225, 0.75);
        background-position: 100% 0;
        transition: all .35s ease-in-out;
    }

    &:focus {
        outline: none;
    }

    &>span {
        position: absolute; 
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        transition: all .3s ease-in-out;
    }

    &.dots {
        font-size: 0;

        &:after {
            font-size: 20;
            display: inline-block;
        }
    }   

    &:after {
        position: absolute;
        width: 30px;
        margin-left: -9px;
        margin-top: -5px;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        content: ".";
        display: none;
        animation: dots 1s steps(5, end) infinite;
        font-size: 0;
        transition: all .3s ease-in-out .3s;
    }

    &:active {
        transform: scale(0.9);
        transition: all .3s ease-in-out;
    }
}

.content {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.top-arrow {
    width: 25px;
    position: absolute;
    top: -30px;
    left: auto;
    right: auto;
    margin-left: auto;
    transition: top .5s ease-in-out 1s, transform .3s ease-in-out;
    cursor: pointer;

    &:hover {
        transform: scale(1.1);
    }

    &.pulse {
        animation: pulse 1s ease-in 2s;
    }
}

.post-container {
    margin-top: 15vh;
    opacity: 0;
    background-color: #FFF;
    width: 95vw;
    height: fit-content;
    border-radius: 10px;
    padding: 20px;
    font-family: 'Segoe UI';
    transition: opacity .3s ease-in .7s;
    box-shadow: 0 5px 17px rgb(0 0 0 / 10%), 0 3px 6px rgb(0 0 0 / 5%);

    .text-primary {
        color: #0F1419;
    }

    .text-secondary {
        color: #7A7A7A;
    }
}

.user {
    margin-bottom: 20px;
}

.footer {
    &>* {
        margin-top: 20px;
    }
    display: flex;
}

.datetime {
    width: fit-content;
}

.likes {
    display: none;
    align-items: center;
    justify-self: flex-end;
    width: fit-content;
    height: 21px;
    margin-left: auto;

    &>img {
        height: 73%;
        margin-right: 10px;
    }
}

.theme {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    box-shadow: 0 5px 17px rgb(0 0 0 / 20%), 0 3px 6px rgb(0 0 0 / 10%);
    border: 0px solid #B08EE0;
    margin: 0 5px;
    cursor: pointer;
    transition: border-width .2s ease-in-out;
}

.theme-container {
    display: flex;
    justify-content: center;
    height: 45px;
    display: none;
}

.bubbles-container {
    position: absolute;
    bottom: 20;
    right: 0;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.save {
    box-shadow: 0 5px 17px rgb(0 0 0 / 15%), 0 3px 6px rgb(0 0 0 / 5%);
    transition: transform .3s ease-in-out .05s, box-shadow .4s ease-in-out .05s, opacity .3s ease-in 1s, width .3s ease-in-out .3s;
    background-color: white;
    border-radius: 25px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-right: 10px;

    &>img {
        width: 30%;
    }

    &:hover {
        transform: scale(1.05);
        transition: transform .3s ease-in-out .05s, box-shadow .4s ease-in-out .05s, width .3s ease-in-out .3s;
        box-shadow: 0 5px 17px rgb(0 0 0 / 20%), 0 3px 6px rgb(0 0 0 / 10%);
    }
}

.settings-container {
    background-color: white;
    width: 50px;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 25px;
    box-shadow: 0 5px 17px rgb(0 0 0 / 15%), 0 3px 6px rgb(0 0 0 / 5%);
    transition: transform .3s ease-in-out .05s, box-shadow .4s ease-in-out .05s, opacity .3s ease-in 1s, width .3s ease-in-out .3s;

    &:hover {
        transform: scale(1.05);
        transition: transform .3s ease-in-out .05s, box-shadow .4s ease-in-out .05s, width .3s ease-in-out .3s;
        box-shadow: 0 5px 17px rgb(0 0 0 / 20%), 0 3px 6px rgb(0 0 0 / 10%);
    }

    &.visible {
        transform: none;
        width: calc(#{$option-amount} * 50px + 20px);
        transition: width .3s ease-in-out .3s;

        .settings {
            box-shadow: 0 5px 17px rgb(0 0 0 / 10%), 0 3px 6px rgb(0 0 0 / 5%);
            transition: box-shadow .4s ease-in-out .5s;
        }
    }
}


.option {
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    margin: 5px 0;
    cursor: pointer;
    display: none;

    &>img {
        transition: transform .2s ease-in-out .25s, opacity .2s ease-in;
        width: 40%;
        height: auto;
    }

    &:hover>img {
        transform: scale(1.1);
        transition: transform .3s ease-in-out;
    }  
}

.option-themes {
    &>img {
        width: 50%;
    }
}

.option-datetime {
    transition: opacity .3s ease-in-out;
}

.option-disabled {
    filter: saturate(0) !important;
    transition: opacity .3s ease-in-out !important;
    opacity: 0.4 !important;
}

.option-likes {
    margin-bottom: 0;
    border-radius: 25px;
}

.settings {
    border-radius: 25px;

    margin: 0;
    display: flex;
    transition: none;
    transition: box-shadow .4s ease-in-out 2s;
    &:hover>img{
        transform: none;
    }
}


$userHeight: 60px;

.user {
    width: 100%;
    display: flex;
    height: $userHeight;
}

.avatar {
    width: $userHeight;
    height: $userHeight;
    border-radius: 50%;
}

.names {
    height: 100%;
    width: 100%;
    margin: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    font-size: 17px;
}

.name {
    line-height: 20px;
    font-weight: 700;
}

.username {
    font-size: 13px;
}

.text {
    width: 100%;
    height: fit-content;
    font-size: 23px;
    font-weight: 400;
    margin-bottom: 10px !important;

    &.nomedia {
        margin-bottom: 20px !important;
    }
}

/* -----------> DESKTOP <------------ */
@media only screen and (min-width: 775px) {
    body {
        height: unset;
    }
    .settings {
        transition: transform .3s ease-in-out .05s, box-shadow .4s ease-in-out .05s, opacity .3s ease-in 2s;
    }    

    .post-container {
        position: absolute;
        margin-top: 0;
        top: 15vh;
        width: 620px;
    }

    .bubbles-container {
        position: absolute;
        top: 0;
        left: unset;
        right: -60px;
        bottom: unset;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 50px;
        height: fit-content;
    }

    .save {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .settings-container {
        flex-direction: column;
        transition: transform .3s ease-in-out .05s, box-shadow .4s ease-in-out .05s, opacity .3s ease-in 1s, height .3s ease-in-out .3s;

        &:hover {
            transition: transform .3s ease-in-out .05s, box-shadow .4s ease-in-out .05s, height .3s ease-in-out .3s;
        }

        &.visible {
            width: 50px;
            height: calc(#{$option-amount} * 50px + 20px);
            transition: height .3s ease-in-out .3s;
        }
    }
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    70% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes dots {
    0%, 20% {
        color: rgba(0, 0, 0, 0);
        text-shadow: 0.5em 0 0 rgba(0, 0, 0, 0), 1em 0 0 rgba(0, 0, 0, 0);
    }
    40% {
        color: white;
        text-shadow: 0.5em 0 0 rgba(0, 0, 0, 0), 1em 0 0 rgba(0, 0, 0, 0);
    }
    60% {
        text-shadow: 0.5em 0 0 white, 1em 0 0 rgba(0, 0, 0, 0);
    }
    80%, 100% {
        text-shadow: 0.5em 0 0 white, 1em 0 0 white;
    }
}