@import '../../styles/styleguide';

.container {
    height: auto;
    display: flex;

    & > * {
        margin-top: $global-spacing-mobile;
    }

    @include theme('light') {
        color: $light-secondary;
    }

    @include theme('dim') {
        color: $dim-secondary;
    }

    @include theme('dark') {
        color: $dark-secondary;
    }
}

.time {
    &::after {
        content: '•';
        margin: 0 5px;
    }
}

.date {
    height: auto;
    flex-shrink: 0;
}

.likesContainer {
    width: auto;
    display: flex;
    align-items: center;
    margin-left: auto;

    & > svg {
        height: 13px;
        width: auto;
        margin-right: 10px;
        margin-top: 2px;
    }
}

/* -----------> DESKTOP <------------ */
@media only screen and (min-width: 775px) {
    .container {
        & > * {
            margin-top: $global-spacing-pc;
        }
    }
}
