.settingsBar {
    position: absolute;
    display: flex;
    justify-content: center;
    bottom: 20px;
    right: 0;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    gap: 10px;
    flex-wrap: wrap;
}

.paddingContainer {
    position: relative;
    padding-top: 70px;
    padding-bottom: 90px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media only screen and (min-width: 775px) {
    .settingsBar {
        top: 0;
        left: unset;
        right: -60px;
        bottom: unset;
        flex-direction: column;
    }

    .innerContainer {
        position: relative;
        top: 0;
        bottom: 0;
        margin-top: auto;
        margin-bottom: auto;
    }

    .paddingContainer {
        padding-top: 70px;
        padding-bottom: 50px;
    }
}
