@import '../../styles/styleguide';

.container {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    transition: top 1s ease-out 0.3s;
    height: 100vh;

    &.hidden {
        top: -110vh;
        transition: top 1s ease-out 0.3s;
        transition-delay: 1s;
    }

    &.error {
        .loadButton {
            background-position: 100% 0;
            transition: all 0.3s ease-in-out;
        }

        .input {
            border-color: #ff5854;
            transition: border-color 0.3s ease-in-out;
        }
    }
}

.header {
    height: 100px;
    width: 100vw;
    padding: $global-spacing-pc 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: $bg-color;

    & > h1 {
        font-size: #{'min(9vw, 40px)'};
        color: transparent;
        background-image: $main-gradient;
        -webkit-background-clip: text;
        background-clip: text;
        font-family: 'Barlow Condensed', sans-serif;
    }
}

.divider {
    width: 100vw;
    height: 5px;
    background: $main-gradient;
    background-size: 100% 300%;
    background-position: center;
}

.bottomContainer {
    background-color: $bg-color;
    z-index: 2;
    height: calc(100% - 105px);
    font-size: #{'min(7vw, 25px)'};
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input {
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: calc(25vh + 50px);
    height: 50px;
    width: 90vw;
    max-width: 500px;
    padding: 10px 20px;
    font-size: #{'min(6vw, 20px)'};
    font-family: 'Barlow Condensed', sans-serif;
    outline: none;
    border: 1px solid #ac90e3;
    border-color: #ac90e3;
    border-radius: 30px;
    margin-bottom: 50px;
    transition: border-color 0.3s ease-in-out;

    &::placeholder {
        opacity: 0.4;
    }
}

.loadButton {
    letter-spacing: 3px;
    font-family: 'Roboto Mono', monospace;
    width: 160px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 20px;
    height: 55px;
    text-align: center;
    border: none;
    background-size: 350% 100%;
    border-radius: 50px;
    transition: all 0.35s ease-in-out;
    position: relative;
    // box-shadow: 0 4px 15px 0 rgba(23, 168, 108, 0.75);
    box-shadow: 0 4px 15px 0 rgba(138, 168, 243, 0.75);
    background-image: linear-gradient(
        45deg,
        rgba(137, 201, 242, 1) 0%,
        rgba(139, 169, 248, 1) 10%,
        rgba(153, 155, 244, 1) 20%,
        rgba(179, 136, 226, 1) 30%,
        rgba(199, 119, 200, 1) 45%,
        rgba(209, 107, 165, 1) 60%,
        rgba(233, 117, 146, 1) 73%,
        rgba(233, 89, 87, 1) 86%,
        rgba(203, 30, 30, 1) 100%
    );

    &:hover {
        box-shadow: 0 4px 15px 0 rgba(173, 142, 225, 0.75);
        background-position: 20% 0;
        transition: all 0.35s ease-in-out;
    }

    &:focus {
        outline: none;
    }

    & > span {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        transition: all 0.3s ease-in-out;
        width: fit-content;
    }

    &.dots {
        font-size: 0;

        &:after {
            font-size: 20px;
            display: inline-block;
        }
    }

    &:after {
        position: absolute;
        width: 30px;
        margin-left: -9px;
        margin-top: -5px;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        content: '.';
        display: none;
        animation: dots 1s steps(5, end) infinite;
        font-size: 0;
        transition: all 0.3s ease-in-out 0.3s;
    }

    &:active {
        transform: scale(0.9);
        transition: all 0.3s ease-in-out;
    }
}

.topArrow {
    opacity: 0;
    pointer-events: none;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 25px;
    cursor: pointer;
    transition: bottom 0.3s ease-in-out 0.2s, transform 0.3s ease-in-out, opacity 0.3s ease-in 0.5s;

    &.visible {
        opacity: 1;
        animation: pulse 1s ease-in 2s;
        transition: bottom 0.5s ease-in-out 1.25s, transform 0.3s ease-in-out,
            opacity 0.3s ease-in 1.5s;
        pointer-events: all;
        bottom: -15vh;
    }
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    70% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes dots {
    0%,
    20% {
        color: rgba(0, 0, 0, 0);
        text-shadow: 0.5em 0 0 rgba(0, 0, 0, 0), 1em 0 0 rgba(0, 0, 0, 0);
    }
    40% {
        color: white;
        text-shadow: 0.5em 0 0 rgba(0, 0, 0, 0), 1em 0 0 rgba(0, 0, 0, 0);
    }
    60% {
        text-shadow: 0.5em 0 0 white, 1em 0 0 rgba(0, 0, 0, 0);
    }
    80%,
    100% {
        text-shadow: 0.5em 0 0 white, 1em 0 0 white;
    }
}
