@import '../../styles/styleguide';

.container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100vw;
    background: linear-gradient(to right top, #e0edfa, #c9dcef, #b2cce4, #9abcda, #82accf);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    pointer-events: all;
    opacity: 1;
    transition: opacity 0.5s ease-in-out 0.7s;

    &.hide {
        opacity: 0;
        pointer-events: none;
        transition: opacity 0.5s ease-in-out 0.7s;
    }
}

.innerContainer {
    position: relative;
}

.bubbles {
    position: absolute;
    bottom: -70px;
    left: 0px;
    right: 0px;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    width: fit-content;
    display: flex;
    flex-direction: row;
    gap: 10px;

    & > div {
        background-color: $bg-color;
        border-radius: 50%;
        box-shadow: 0 5px 17px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.05);
        transition: transform 0.2s ease-in-out;

        & > svg {
            transform: scale(1.05);
        }

        &:hover {
            transform: scale(1.05);
            transition: transform 0.2s ease-in-out;
        }
    }
}

@media only screen and (min-width: 775px) {
    .bubbles {
        left: unset;
        bottom: unset;
        right: -60px;
        top: 0;
        flex-direction: column;
    }
}
