.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(
        to left bottom,
        #d16ba5,
        #cf6fb1,
        #cb73be,
        #c678cb,
        #be7ed7,
        #b388e2,
        #a692ec,
        #999bf4,
        #8ba9f8,
        #83b5f9,
        #82c0f6,
        #89c9f2
    );
}
