@import '../../styles/styleguide';

.container {
    width: 100vw;
    min-height: 100vh;
    height: auto;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: $main-gradient;
}
