@import '../../styles/styleguide';

.container {
    display: flex;
    border-radius: 25px;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out, opacity 0.2s ease-in;

    svg,
    svg > * {
        stroke: #222222;
    }

    :global(.ignore) {
        stroke: unset;
        & > * {
            stroke: unset;
        }
    }

    & > svg {
        width: 20px;
        height: auto;
    }

    &:hover {
        transform: scale(1.1);
        transition: transform 0.3s ease-in-out;
    }

    &.filled {
        background-color: white;
        border-radius: 50%;
        box-shadow: 0 5px 17px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.05);
    }
}
