@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;600&display=swap');
@font-face {
    font-family: 'Chirp';
    src: url('../resources/fonts/chirp-regular-web.woff') format('woff');
    font-weight: normal;
}

@font-face {
    font-family: 'Chirp';
    src: url('../resources/fonts/chirp-bold-web.woff') format('woff');
    font-weight: bold;
}

@mixin theme($type) {
    :global(.theme-#{$type}) & {
        @content;
    }
}

$bg-color: #fcfcfc;
$black: #0f1419;

$global-spacing-mobile: 15px;
$global-spacing-pc: 20px;

$accent-blue: #1da1f2;
$accent-yellow: #ffad1f;
$accent-red: #e0245e;
$accent-purple: #794bc4;
$accent-orange: #f45d22;
$accent-green: #17bf63;

$light-bg: #fff;
$light-primary: #0f1419;
$light-secondary: #7a7a7a;

$dim-bg: #14202a;
$dim-primary: #ffffff;
$dim-secondary: #8899a6;

$dark-bg: #000;
$dark-primary: #d9d9d9;
$dark-secondary: #6e767d;

$main-gradient: linear-gradient(
    to left bottom,
    #d16ba5,
    #cf6fb1,
    #cb73be,
    #c678cb,
    #be7ed7,
    #b388e2,
    #a692ec,
    #999bf4,
    #8ba9f8,
    #83b5f9,
    #82c0f6,
    #89c9f2
);
