.container {
    box-shadow: none;
    width: 100%;
    border: 1px solid #b9b9b9;
    border-radius: 10px;
    padding: 10px;
    overflow: hidden;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;

    :global(.theme-light) & {
        border-color: #b9b9b9;
    }

    :global(.theme-dim) & {
        border-color: #38444d;
    }

    :global(.theme-dark) & {
        border-color: #2f3336;
    }
}
