.container {
    box-shadow: none;
    width: 100%;
    border: 1px solid #b9b9b9;
    border-radius: 10px;
    padding: 10px;
    overflow: hidden;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
}
