.enter,
.appear {
    transform: scale(0);
}

.enterActive,
.appearActive {
    transform: scale(1);
    transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.exit {
    transform: scale(1);
}

.exitActive {
    transform: scale(0);
    transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
